<style>
    .blog:hover{
        cursor: pointer;
        transform: rotate(360);
    }
</style>

<div class="blog" style="position: fixed; left: 50%; top: 50%;
 transform: translate(-50%, -50%); text-align: center; border: 1px solid blue;
  padding:20px; border-radius: 10px;
   box-shadow: 1px 4px 5px blue; transition: all 1s ease;
   font-size: 30px; width: auto; height: auto;">
   <h3>Name:{{customer.name}}</h3>
   <p>adress: {{customer.adress}} </p>
   <p>phone number: {{customer.phone_number}} </p>
   <p>passport number: {{customer.password_number}} </p>
   <p>dept: {{customer.dept}} sum </p>
</div>